<div class ="container" >
<h1>Sign In</h1>



  <div class ="col-lg-4 col-info" >

    <%= form_with url:'/sign_in' do |form| %>

      <div class ="mb-3">
        <%= form.label :email%>
        <%= form.email_field :email , class: "form-control", placeholder: "user@gmail.com"%>
      </div>

      <div class ="mb-3">
        <%= form.label :password%>
        <%= form.password_field :password , class: "form-control"%>
      </div>

      <div class ="mb-3">
        <%= form.submit "Sign In", class: 'btn btn-info btn-lg' %>
      </div>

    Don't have an account? <%= link_to 'Sign Up' , '/sign_up'%>
    <% end %>
  </div>
</div>